@font-face {
  font-family: "manaspace";
  src: url("../font/ManaspaceRegular-ZJwZ.ttf");
}

body {
  color: white;
  font-family: "manaspace";
}

header {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav {
  text-align: center;
  margin-bottom: 20px;
  
}

nav button {
  margin-right: 25px;
  margin-left: 25px;
}

body {
  background-color: #0e0091;
  font-family: "manaspace";
  color: white;
}

aside{
    text-align: center;
    margin: auto;
}

.filter {
  margin-bottom: 20px;
}

fieldset{
    width: fit-content;
    margin: auto;
}

button {
  background-color: #0e0091;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(255, 255, 255);
  color: white;
  font-family: "manaspace";
}

button:hover{
  cursor: pointer;
}

article{
  text-align: center;
  margin-bottom: 20px;
}

table{
  margin: auto;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

table, td, tr{
  border: 1px solid white;
}

table tr:hover{
  background-color: rgb(77, 24, 24);
}

td {
  width: 200px;
}

th{
  font-weight: 100;
  border: 1px solid white;
}
